@using Microsoft.AspNetCore.Components.Web
@using PA.Web.Admin.Helpers
@using PA.Core.Models.ApiRequestResponse

@code {
    [Parameter] public StationLite? Station { get; set; }
    [Parameter] public RenderFragment? FooterContent { get; set; }    
    [Parameter] public EventCallback<MouseEventArgs> OnCloseDialogClickCallback { get; set; }
    //[Parameter] public EventCallback OnSubmit { get; set; }

}

<div class="overlay">
    <div class="dialog">
        <div class="dialog-header">
            <div>
                <h2>
                    @StringHelpers.ShortenAndFormatText(Station.StationName, 44)
                </h2>
            </div>

            <div class="dialog-close-btn-wrap">
                <button class="btn btn-primary close" @onclick="OnCloseDialogClickCallback">
                    <span class="material-symbols-sharp">
                        close
                    </span>
                </button>
            </div>
        </div>
        

        <div class="dialog-body">
            <div class="dialog-row">
                <div class="map-container">
                    <h1>Map</h1>
                </div>
                <div class="right-content">
                    <div class="right-content-wrap">
                        <div class="item-line">
                            <span class="label">
                                Station
                            </span>
                            <span class="item-value">
                                @StringHelpers.ShortenAndFormatText(Station.StationName, 30)
                            </span>
                        </div>
                        <div class="item-line">
                            <span class="label">
                                Address
                            </span>
                            <span class="item-value">
                                @StringHelpers.ShortenAndFormatText(Station.StationAddress, 30)
                            </span>
                        </div>
                        <div class="item-line">
                            <span class="label">
                                Coutry
                            </span>
                            <span class="item-value">
                                @Station.Country
                            </span>
                        </div>
                        <div class="item-line">
                            <span class="label">
                                Date Added
                            </span>
                            <span class="item-value">
                                @Station.StationPostcode
                            </span>
                        </div>
                        <div class="item-line">
                            <span class="label">
                                Date Added
                            </span>
                            <span class="item-value">
                                @Station.Added.Value.ToLongDateString()
                            </span>
                        </div>
                        <div class="item-line">
                            <span class="label">
                                Online
                            </span>
                            @if (Station.StationOnline)
                            {
                            <span class="material-symbols-sharp">
                                done
                            </span>
                            }
                            else
                            {
                            <span class="material-symbols-sharp">
                                close
                            </span>
                            }
                        </div>


                        
                    </div>                    
                </div>
            </div>
        </div>

        <div class="dialog-footer">
            Some Footer
        </div>
    </div>
</div>

